xsd/inbound/BPXML-LoadReject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation xml:lang="en"> This schema captures the requirement details for the Sales Order Load Reject update process. The XML document generated by Brightpoint will be based on this schema and information available will be based on the elements specified in this transaction. </xs:documentation>
  </xs:annotation>
  <xs:element name="message">
    <xs:annotation>
      <xs:documentation xml:lang="en"> This is the root document element used to encapsulate the entire message. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message-header" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="sales-order-rejection" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="transactionInfo" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-header">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Collection of basic message information about the original XML Document </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message-id" maxOccurs="1" minOccurs="1" />
        <xs:element ref="transaction-name" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="partner-name" maxOccurs="1" minOccurs="1"/>
    		<xs:element ref="partner-password" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="source-url" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="create-timestamp" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="response-request" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-id" type="xs:integer">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique message identification ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transaction-name" type="xs:string" default="sales-order-rejection">
    <xs:annotation>
      <xs:documentation xml:lang="en">The name of the inbound message transaction. In the case of this transaction it is sales-order-rejection.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partner-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Short name of partner be used to identify mappings of data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partner-password" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is an optional password that can be used by the partner to add more validation. This is a message level validation that is not required
        beyond the initial validation of inbound message or the final validation before submitting an outbound message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="source-url" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique Resource Locator that posts the XML Document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="create-timestamp" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date and Time at which XML Document was generated from source system. In CCYYMMDDHHMISS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="response-request" final="#all">
    <xs:annotation>
      <xs:documentation xml:lang="en">Flag to determine if the receiving party is required to send a response back or not. 0: Response Not Required; 1: Response Required</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="sales-order-rejection">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Main Element for the Sales Order Rejection XML Document which contains all business related information </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="detail" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="header">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Header tag of business related information in all XML Documents </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-id" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="business-name" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="carrier-name" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-information" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="shipment-information" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="purchase-order-information" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="credit-card-information" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-header" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-id" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Customer Identification number in the Brightpoint's system. This is the value used to identify the customer in the Customer Master table in JD Edwards.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="business-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The official name of your business.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="carrier-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">If you are a third party doing business on behalf of a carrier then you would provide the official name of the carrier here.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="customer-information">
    <xs:annotation>
      <xs:documentation xml:lang="en">Main Element which contains all customer related information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-first-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-last-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-middle-initial" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-address1" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-address2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-address3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-city" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-state" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-post-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-country-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-phone1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-phone2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-fax" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-email" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-first-name" type="xs:string"/>
  <xs:element name="customer-last-name" type="xs:string"/>
  <xs:element name="customer-middle-initial" type="xs:string"/>
  <xs:element name="customer-address1" type="xs:string"/>
  <xs:element name="customer-address2" type="xs:string"/>
  <xs:element name="customer-address3" type="xs:string"/>
  <xs:element name="customer-city" type="xs:string"/>
  <xs:element name="customer-state" type="xs:string"/>
  <xs:element name="customer-post-code" type="xs:string"/>
  <xs:element name="customer-country-code" type="xs:string"/>
  <xs:element name="customer-phone1" type="xs:string"/>
  <xs:element name="customer-phone2" type="xs:string"/>
  <xs:element name="customer-fax" type="xs:string"/>
  <xs:element name="customer-email" type="xs:string"/>
  <xs:element name="shipment-information">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element contains all shipment related information for the order.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ship-first-name" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-last-name" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-middle-initial" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-address1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-address2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-address3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-city" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-state" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-post-code" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-country-code" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-phone1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-phone2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-fax" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-email" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-via" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-request-date" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-request-from" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-request-warehouse" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ship-first-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">First Name for person that is receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-last-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Last Name for person that is receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-middle-initial" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Middle Initial for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-address1" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Address1 field for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-address2" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Address2 field for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-address3" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Address3 field for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-city" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">City field for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-state" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">State field for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-post-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Postal Code field for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-country-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Country Code field for person receiving the shipment. Must be compliant with the ISO Standard for Country Codes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-phone1" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Primary Phone Number for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-phone2" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Secondary Phone Number for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-fax" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Facsimile Number for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-email" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Email Address for person receiving the shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-via" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Standard Carrier Alpha Code value that is recognized by Brightpoint.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-request-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date on which order is requested for shipment. In CCYYMMDD.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-request-from" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">City from which Shipment is requested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-request-warehouse" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Virtual Warehouse (Site) from which Shipment is requested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="purchase-order-information">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element contains all purchase order related information for the order.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="purchase-order-number" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="account-description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="purchase-order-amount" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="currency-code" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="comments" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="purchase-order-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Purchase Order Number to be used.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="account-description" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Description of the account against which PO is generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="purchase-order-amount" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Total Amount that is assigned to the
        specific Purchase Order.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="currency-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Currency Code associated with a Currency Amount. Must be compliant with the ISO Standard for Currency Codes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="comments" type="xs:string"/>
  <xs:element name="credit-card-information" nillable="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element contains all credit card related information for the order.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="credit-card-number" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="credit-card-expiration-date" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="credit-card-identification" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="global-card-classification-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-address1" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-address2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="card-holder-city" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-state" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-post-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-country-code" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="credit-card-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Credit Cart Account Number. This should only have the last 4 digits exposed and the other values must be masked over.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="credit-card-expiration-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date of Expiration on the Credit Card Account. In CCYYMM Format.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="credit-card-identification" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification Name of Credit Card issuing authority. Ex: VISA, MC, AMEX.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="global-card-classification-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Global Identification of Credit Card issuing authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Name of Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-address1" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Address1 field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-address2" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Address2 field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-city" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">City field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-state" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">State field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-post-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Post Code field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-country-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Country Code field for Credit Card Holder. Must be compliant with the ISO Standard for Currency Codes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-header">
    <xs:annotation>
      <xs:documentation xml:lang="en">Main Element that contains all basic order related information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-order-number" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-order-date" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="brightpoint-order-number" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-reference" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-sub-total" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-discount" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-tax1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-tax2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-tax3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-shipment-charge" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-total-net" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-type" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="gift-flag" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-order-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Order number on sender's system. Evavi to decide if Customer Order Number and Customer PO number are different or not. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="customer-order-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Order Date on sender's system. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="brightpoint-order-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is the Order Number generated within the Brightpoint system, which can be used to reference orders within Brightpoint.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-reference" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is the Order Reference. This is a pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-sub-total" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Sub-total amount for the order. This is pass-through information. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-discount" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Discounted amount on the order. This is pass-through information. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-tax1" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Primary tax field. Should contain the value of Sales Tax, Value Added Tax (VAT) etc. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-tax2" nillable="true" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Integration specific second tax field.  This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-tax3" nillable="true" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Integration specific third tax field. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-shipment-charge" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Charge for shipment of product. If freeze-freight has a value of N, this is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-total-net" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Net total on Order. This is pass-through information. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-type" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Order Type on Brightpoint's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element default="N" final="#all" name="gift-flag">
    <xs:annotation>
      <xs:documentation xml:lang="en">Flag to determine if the product is being shipped as a gift. Y: Yes; N: No.  This is pass-through information.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Y"/>
        <xs:enumeration value="N"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="detail">
    <xs:annotation>
      <xs:documentation xml:lang="en">Detail tag of business related information in all XML Documents.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="line-item" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="line-item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="line-no" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="line-reference" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="brightpoint-line-no" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="item-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="universal-product-code" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="product-name" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="quantity" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="unit-of-measure" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="serial-numbers" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="market-id" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-status" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="comments" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="rejection-date" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="base-price" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-discount" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-tax1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-tax2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-tax3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="line-no" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Line Number at the detail level in customer's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-reference" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The customers line reference value in the customer's system.  This is pass-through information. This field has been added since December 2008.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Item Code for the product on Brightpoint's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="universal-product-code" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Universal Product Code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="product-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Product Name in Brightpoint's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="quantity" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Number of units of product ordered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="unit-of-measure" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Unit of Measure used to associate with the quantity. This is to ensure that the proper multiples are used for the order.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="serial-numbers">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element contains a list of serialized-data elements if the product that is being requested is serialized.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sid" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="esn" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="min" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdn" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="irdb" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="imei" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="min" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">MIN for the device</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sid" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">SID for the device; going forward, this should only be populated in the serial-numbers segment. It is still outside of that segment for
        backwards compatibility. The change to have this within the serial-numbers is introduced since December 2008.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="mdn" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">MDN for the device</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="esn" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">ESN for the device</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="irdb" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">IRDB for the device</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="imei" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">IMEI for the device</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="market-id" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The customer-market-id associated with the line in the customer's system. This is used to tie the order with the customer's system.  This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-status" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The status of the line within Brightpoint's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rejection-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date on which order was rejected. In CCYYMMDD.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="base-price" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Base price of line item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-discount" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Discount on Line Item.  This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-tax1" nillable="true" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Primary tax field for line item. Should contain the value of Sales Tax, Value Added Tax (VAT) etc.  This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-tax2" nillable="true" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Integration specific second tax field for line item.  This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-tax3" nillable="true" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Integration specific third tax field for line item.  This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message">
    <xs:annotation>
      <xs:documentation>Cistomer specific special message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="special-message1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message4" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message5" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="special-message1" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 1.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message2" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 2.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message3" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 3.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message4" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 4.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message5" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 5.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transactionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="eventID" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventID" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Event ID from the customer's system.</xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
