xsd/inbound/BPXML-ReturnReceipt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation xml:lang="en"> This schema captures the requirement details for the Outbound Return Receipt of Goods process sent by Brightpoint. The XML document sent to
      Brightpoint will be based on this schema and information available will be based on the elements specified in this transaction. </xs:documentation>
  </xs:annotation>
  <xs:element name="message">
    <xs:annotation>
      <xs:documentation xml:lang="en"> This is the root document element used to encapsulate the entire message. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message-header" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="return-receipt" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message-id" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="transaction-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="partner-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="source-url" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="create-timestamp" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="response-request" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-id" type="xs:integer">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique message identification ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transaction-name" type="xs:string" default="return-receipt">
    <xs:annotation>
      <xs:documentation xml:lang="en">The name of the inbound message transaction. In the case of this transaction it is return-receipt.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partner-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Short name of partner be used to identify mappings of data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="source-url" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique Resource Locator that posts the XML Document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="create-timestamp" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date and Time at which XML Document was generated from source system. In CCYYMMDDHHMISS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="response-request" final="#all">
    <xs:annotation>
      <xs:documentation xml:lang="en">Flag to determine if the receiving party is required to send a response back or not. 0: Response Not Required; 1: Response Required</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="return-receipt">
    <xs:annotation>
      <xs:documentation xml:lang="en">The base contents of this message are contained in the element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="detail" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="header">
    <xs:annotation>
      <xs:documentation xml:lang="en">Header content of the return receipt of goods.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-id" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="business-name" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="carrier-name" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-information" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="shipment-information" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="purchase-order-information" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="credit-card-information" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-header" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-id" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Customer Identification number in the Brightpoint's system. This is the value used to identify the customer in the Customer Master table in JD Edwards.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="business-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The official name of your business.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="carrier-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">If you are a third party doing business on behalf of a carrier then you would provide the official name of the carrier here.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="customer-information">
    <xs:annotation>
      <xs:documentation xml:lang="en">Main Element which contains all customer related information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-first-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-last-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-middle-initial" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-address1" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-address2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-address3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-city" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-state" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-post-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-country-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-phone1" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-phone2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-fax" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-email" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-first-name" type="xs:string"/>
  <xs:element name="customer-last-name" type="xs:string"/>
  <xs:element name="customer-middle-initial" type="xs:string"/>
  <xs:element name="customer-address1" type="xs:string"/>
  <xs:element name="customer-address2" type="xs:string"/>
  <xs:element name="customer-address3" type="xs:string"/>
  <xs:element name="customer-city" type="xs:string"/>
  <xs:element name="customer-state" type="xs:string"/>
  <xs:element name="customer-post-code" type="xs:string"/>
  <xs:element name="customer-country-code" type="xs:string"/>
  <xs:element name="customer-phone1" type="xs:string"/>
  <xs:element name="customer-phone2" type="xs:string"/>
  <xs:element name="customer-fax" type="xs:string"/>
  <xs:element name="customer-email" type="xs:string"/>
  <xs:element name="shipment-information">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ship-first-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-last-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-middle-initial" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-address1" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-address2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-address3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-city" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-state" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-post-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-country-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-phone1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-phone2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-fax" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-email" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-via" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-request-date" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="ship-request-from" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-request-warehouse" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ship-to-code" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ship-first-name" type="xs:string"/>
  <xs:element name="ship-last-name" type="xs:string"/>
  <xs:element name="ship-middle-initial" type="xs:string"/>
  <xs:element name="ship-address1" type="xs:string"/>
  <xs:element name="ship-address2" type="xs:string"/>
  <xs:element name="ship-address3" type="xs:string"/>
  <xs:element name="ship-city" type="xs:string"/>
  <xs:element name="ship-state" type="xs:string"/>
  <xs:element name="ship-post-code" type="xs:string"/>
  <xs:element name="ship-country-code" type="xs:string"/>
  <xs:element name="ship-phone1" type="xs:string"/>
  <xs:element name="ship-phone2" type="xs:string"/>
  <xs:element name="ship-fax" type="xs:string"/>
  <xs:element name="ship-email" type="xs:string"/>
  <xs:element name="ship-via" type="xs:string"/>
  <xs:element name="ship-request-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date on which order is requested for shipment. In CCYYMMDD.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-request-from" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">City from which Shipment is requested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-request-warehouse" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Virtual Warehouse (Site) from which Shipment is requested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ship-to-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Permanent Ship To Code or GLN as present in Brightpoint's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="purchase-order-information">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="purchase-order-number" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="account-description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="purchase-order-amount" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="purchase-order-event" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="currency-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="comments" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="purchase-order-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">This can be stored as a unique or non-unique value. Please discuss with your Brightpoint Account Executive.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="account-description" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Description of the account against which PO is generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="purchase-order-amount" type="xs:decimal"/>
  <xs:element name="purchase-order-event" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Any additional event ID associated with the PO. This can be used for linking separate system data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="currency-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Only ISO standard currency codes are allowed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="comments" type="xs:string"/>
  <xs:element name="credit-card-information" nillable="true">
    <xs:annotation>
      <xs:documentation xml:lang="en"> This element contains all credit card related information for the order. Please note that due to restrictions for PCI compliance we are only
        able to receive the last 4 digits of the credit card number preceded by Xs for each of the other digits. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="credit-card-number" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="credit-card-expiration-date" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="credit-card-identification" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="global-card-classification-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-name" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-address1" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-address2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="card-holder-city" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-state" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-post-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="card-holder-country-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="authorized-amount" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="billing-sequence-number" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="billing-authorization-response" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="billing-address-match" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="billing-zip-match" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="avs-hold" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="merchant-name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="credit-card-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Credit Cart Account Number. This should only have the last 4 digits exposed and the other values must be masked over.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="credit-card-expiration-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date of Expiration on the Credit Card Account. In CCYYMM Format.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="credit-card-identification" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification Name of Credit Card issuing authority. Ex: VISA, MC, AMEX.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="global-card-classification-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Global Identification of Credit Card issuing authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Name of Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-address1" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Address1 field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-address2" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Address2 field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-city" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">City field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-state" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">State field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-post-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Post Code field for Credit Card Holder.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="card-holder-country-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Country Code field for Credit Card Holder. Must be compliant with the ISO Standard for Currency Codes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="authorized-amount" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">The amount that has been authorized on the order as approved for fund capture.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="billing-sequence-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The sequence number issued by the credit card authority for authorization code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="billing-authorization-response" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The authorization response string for credit card authorization requests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="billing-address-match" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The string to determine if the billing street address matched with the record on the credit card or not. This is a Y or an N.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="billing-zip-match" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The string to determine if the billing post code matched with the record on the credit card or not. This is a Y or an N.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="avs-hold" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The string to determine if the credit card authorization is on AVS hold or not. This is a Y or an N.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="merchant-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The merchant account against which the credit request has been placed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-header">
    <xs:annotation>
      <xs:documentation xml:lang="en">Main Element that contains all basic order related information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-order-number" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="customer-order-date" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="brightpoint-order-number" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-reference" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="brightpoint-return-number" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-status" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-sub-total" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-discount" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-tax1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-tax2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-tax3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-shipment-charge" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-total-net" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="order-type" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="gift-flag" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-order-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Order number in sender's system. This is not a required value for the message but if you do send it, it must be unique in your system. You can
        also send your PO# here if it is unique. Brightpoint requires that the Customer Order Number be unique in order to eliminate processing of duplicate orders to the same
        customer. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="customer-order-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Order Date on sender's system. This is pass-through information. In CCYYMMDD.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="brightpoint-order-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Order number in Brightpoint's system if the order was originally shipped by Brightpoint and needs to be tracked as such. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-reference" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is the Order Reference. This is a pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="brightpoint-return-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Return process number in Brightpoint's system for the receipt of goods.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-status" type="xs:string"/>
  <xs:element name="order-sub-total" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Sub-total amount for the order. This is pass-through information. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-discount" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Discounted amount on the order. This is pass-through information. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-tax1" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Primary tax field. Should contain the value of Sales Tax, Value Added Tax (VAT) etc. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-tax2" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Integration specific second tax field. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-tax3" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Integration specific third tax field. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-shipment-charge" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Charge for shipment of product. If freeze-freight has a value of N, this is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-total-net" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Net total on Order. This is pass-through information. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order-type" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Order Type on Brightpoint's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="gift-flag" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Deprecated field that is no longer supported.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="detail">
    <xs:annotation>
      <xs:documentation xml:lang="en">All lines associated with the specific header are included here.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="line-item" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="line-item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="line-no" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="line-reference" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="transaction-id" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="item-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="universal-product-code" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="product-name" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="quantity" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="unit-of-measure" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="serial-list" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="market-id" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-status" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="comments" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="rejection-date" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="base-price" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-discount" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-tax1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-tax2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="line-tax3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="receipt-date" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="service-type" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="return-reason-code" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="failure-reason" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="line-no" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Line Number at the detail level in customer's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-reference" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The customers line reference value in the customer's system.  This is pass-through information. This field has been added since December 2008.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transaction-id" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Transaction ID in Brightpoint's system for this line.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Item Code for the product on Brightpoint's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="universal-product-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">UPC for the product.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="product-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Name of product in the manufacturer's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="quantity" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Number of units of product ordered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="unit-of-measure" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> The Unit of Measure used to associate with the quantity. This is to ensure that the proper multiples are used for the order. Example: EA -
        Each, CT - Carton, PT - Pallet </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="serial-list">
    <xs:annotation>
      <xs:documentation xml:lang="en">The list of serial numbers associated with the return. Each unit has a grouping of serial numbers that are related to each other.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="serial-numbers" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="serial-numbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="min" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdn" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="esn" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="sim" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="imei" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="sid" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="meid" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="min" type="xs:string"/>
  <xs:element name="mdn" type="xs:string"/>
  <xs:element name="esn" type="xs:string"/>
  <xs:element name="sim" type="xs:string"/>
  <xs:element name="imei" type="xs:string"/>
  <xs:element name="sid" type="xs:string"/>
  <xs:element name="meid" type="xs:string"/>
  <xs:element name="market-id" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Market ID for the device</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-status" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Status of line in customer's system. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rejection-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date on which return was rejected. In CCYYMMDD.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="base-price" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Base price of line item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-discount" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Discount on Line Item. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-tax1" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Primary tax field for line item. Should contain the value of Sales Tax, Value Added Tax (VAT) etc. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-tax2" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Integration specific second tax field for line item. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="line-tax3" type="xs:decimal">
    <xs:annotation>
      <xs:documentation xml:lang="en">Integration specific third tax field for line item. This is pass-through information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="receipt-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date on which line was received. In CCYYMMDD.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="service-type" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type of service performed for return.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="return-reason-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The reason code associated with this return.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="failure-reason" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The failure reason for this return.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message">
    <xs:annotation>
      <xs:documentation>Cistomer specific special message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="special-message1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message2" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message3" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message4" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="special-message5" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="special-message1" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 1.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message2" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 2.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message3" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 3.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message4" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 4.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="special-message5" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Special Message 5.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
