xsd/outbound/BPXML-ShipmentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en"> This schema captures the requirement details for
      the Shipment Status process. The XML document generated by Brightpoint will be based on this schema and information available will be based on the elements specified in this transaction. </xs:documentation>
  </xs:annotation>
  <xs:element name="message">
    <xs:annotation>
      <xs:documentation xml:lang="en"> This is the root document element used to
        encapsulate the entire message. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message-header" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="shipment-status" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="transactionInfo" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-header">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Collection of basic message information about
        the original XML Document </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message-id" maxOccurs="1" minOccurs="1" />
        <xs:element ref="transaction-name" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="partner-name" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="source-url" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="create-timestamp" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="response-request" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-id" type="xs:integer">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique message identification ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element default="shipment-status" name="transaction-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The name of the inbound message transaction. In
        the case of this transaction it is shipment-status.</xs:documentation>
      </xs:annotation>
  </xs:element>
  <xs:element name="partner-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Short name of partner be used to identify
        mappings of data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="source-url" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique Resource Locator that posts the XML
        Document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="create-timestamp" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date and Time at which XML Document was
        generated from source system. In CCYYMMDDHHMISS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="response-request" final="#all">
    <xs:annotation>
      <xs:documentation xml:lang="en">Flag to determine if the receiving party is
        required to send a response back or not. 0: Response Not Required; 1: Response Required</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="shipment-status">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Main Element for the Shipment Status XML Document which contains all business related information </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="detail" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="header">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Header tag of business related information in all
        XML Documents </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-information"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-information">
    <xs:annotation>
      <xs:documentation xml:lang="en">Customer Information associated with this
        transaction.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="customer-id" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="business-name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer-id" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Customer Identification number in the
        Brightpoint's system. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="business-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is a deprecated element and may not be
        populated with any data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="detail">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Detail tag of business related information in all
        XML Documents. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="line-item" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="line-item">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Main Element that contains all line item related
        information. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="line-no" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="transaction-document-number" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="bill-of-lading" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="customer-order-number" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="brightpoint-order-number" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="status-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="status-date" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="reason-code" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="signed-by" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="status-timestamp" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="comments" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="line-no" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Line Number at the detail level.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transaction-document-number" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> This can be used to send a customer specific transaction value (if applicable). </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="bill-of-lading" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Bill of Lading or Tracking Number of Shipment
        from Carrier. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="customer-order-number" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Customer order reference number.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="brightpoint-order-number" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Order reference number from Brightpoint order
        manaagement system. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Code representing status of this shipment
        record. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="reason-code" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Code indicating the reason a shipment status or
        appointment reason was transmitted. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status-date" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Date the status code was returned from the
        carrier. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="signed-by" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> The signature of person signing for package delivery. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status-timestamp" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> The timestamp at which this information was
        made available. In CCYYMMDDHHMISS. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="comments" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Any comments that may be attached to the
        Buffer (Inventory at a Site). </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transactionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="eventID" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventID" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Event ID from the customer's
        system.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
