xsd/outbound/BPXML-StandardResponse.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation xml:lang="en"> This schema captures the requirement details for the default message response process. The XML document generated by Brightpoint will be based
      on this schema and information available will be based on the elements specified in this transaction. </xs:documentation>
  </xs:annotation>
  <xs:element name="message">
    <xs:annotation>
      <xs:documentation xml:lang="en"> This is the root document element used to encapsulate the entire message. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message-header" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="message-status" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="transactionInfo" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message-id" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="transaction-name" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="partner-name" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="partner-password" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="source-url" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="create-timestamp" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="response-request" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-id" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique message identification ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element default="ship-advice" name="transaction-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The name of the inbound message for which the response is being provided.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partner-name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Short name of partner be used to identify mappings of data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partner-password" nillable="true" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is an optional password that can be used by the partner to add more validation. This is a message level validation that is not required
        beyond the initial validation of inbound message or the final validation before submitting an outbound message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="source-url" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique Resource Locator that posts the XML Document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="create-timestamp" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date and Time at which XML Document was generated from source system. In CCYYMMDDHHMISS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="response-request" final="#all">
    <xs:annotation>
      <xs:documentation xml:lang="en">Flag to determine if the receiving party is required to send a response back or not. 0: Response Not Required; 1: Response Required</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="message-status">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="status-code" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="status-description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="comments" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="response-timestamp" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="filename" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="status-code" type="xs:integer">
    <xs:annotation>
      <xs:documentation xml:lang="en">The status-code of 0 would denote success whereas 1 would denote failure.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status-description" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">The descriptive value of the status to denote success or failure.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="comments" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">If the system of record is able to provide a detailed explanation, it would be sent here.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="response-timestamp" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date and Time at which the response was generated from the target system. In CCYYMMDDHHMISS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="filename" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">If the request document was stored to a document on a file system, the name would be provided for troubleshooting at a future time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transactionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="eventID" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventID" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Event ID from the customer's system.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
